body{
    background-color: #000000a8;
}
.tela{
    width: 320px;  /* Largura da tela */
    padding: 50px;  /* Espaçamento interno */
    background-color: #fff;  /* Cor de fundo */
    border: 2px solid #333;  /* Borda */
    border-radius: 10px;  /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    text-align: center;
    margin-left: 40%;
    margin-top: 10%;
}

/* Estilo do título dentro da tela */
.pequena-tela h1 {
    font-size: 1.5rem;
    color: #333;
}

button {
    padding: 12px 30px;
    background-color: #c11a36;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 130%;
}

button:hover {
    background-color: #c11a3677;  
}
