
.cadastro a{
    position: relative;
    top: -900px;
    margin-left: 15%;
    font-size: 60px;
}
button{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    background-color: #bebebe4a;
    border: none;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
          /* celular */
  @media (max-width: 375px) and (min-width:360px){
      button{
       margin-top: 588px;
        width: 104px;
        font-size: 11px;
        margin-left: -20px;
        height: 32px;
      }
  }
  
   /* celular mais largo*/
   @media (max-width: 428px) and (min-width: 390px){ 
      button{
        margin-top: 588px;
        width: 104px;
        font-size: 11px;
        margin-left: -20px;
        height: 32px;
        }
   }
   
   
    /* tablet*/
    @media (max-width: 834px) and (min-width: 820px){
         button{
       margin-top: 764px;
        width: 209px;
        font-size: 16px;
        margin-left: -20px;             
        }
    }
  
@media (min-width: 1920px) {
  button {
    margin-top: -2%;
  } 
   }

 /* Tela notebook  */
  @media screen and (min-width: 1200px) and (max-width: 1500px)  {
  button {
      margin-top: 50%;
        margin-left: -5%;
    }
  
        }
    